<a href="https://colab.research.google.com/github/Pithon-hub/Mini_dictionaries/blob/main/Mini_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a dictionary called student with:
# Keys: "name", "age", "grade"
# Values: "Alice", 14, "B"
student = {"name": "Alice", "age":14, "grade":"B"}
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'B'}

In [ ]:
# 1.1. Access and print the student's name from the dictionary.
print(student["name"])

Alice

In [ ]:
# 1.2. Change the student's grade to "A".
student["grade"] = "A"
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'A'}

In [ ]:
# 1.3. Add a new key called "school" with the value "Greenwood High".
student.update({"school":"Greenwood High"})
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'A', 'school': 'Greenwood High'}

In [ ]:
# 1.4. Delete the "age" key from the dictionary
del student["age"]
print(student)

{'name': 'Alice', 'grade': 'A', 'school': 'Greenwood High'}

In [ ]:
# 2. Loop through the following dictionary and print each key and value:
person = {"name": "Bob", "age": 30, "city": "Nairobi"}
for keys, values in person.items():
  print(keys,values)

name Bob
age 30
city Nairobi

In [ ]:
# 2.1. Loop through and print only the keys from the dictionary above.
for key in person.keys():
  print(key)

name
age
city

In [ ]:
# 2.2. Loop through and print only the values.
for value in person.values():
  print(value)

Bob
30
Nairobi

In [ ]:
# 2.3. Use .get() to retrieve the value of a key called "email" from person. If it doesnâ€™t exist, return "Not provided".
person.get("email")
if person.get("email") == None:
  print("Not provided")

Not provided

In [ ]:
# 2.4. Check if the key "city" exists in the dictionary.
if "city" in person.keys():
  print("City exixts")
else:
  print("City does not exixt")

City exixts

In [ ]:
# 2.5. Use .update() to add or modify multiple values:
# Update "city" to "Mombasa" and add "email": "bob@example.com"
person.update({"city":"Mombasa","email":"bob@example.com"})
print(person)

{'name': 'Bob', 'age': 30, 'city': 'Mombasa', 'email': 'bob@example.com'}

In [11]:
# 3. Create a list of 3 students, each represented as a dictionary:
# Each dictionary should have keys: "name", "age", "grade"
students = [
    {"name":"Pithon","age":21,"grade":"90"},
     {"name":"Paul","age":20,"grade":"80"},
     {"name":"David","age":19,"grade":"85"}]
students

[{'name': 'Pithon', 'age': 21, 'grade': '90'},
 {'name': 'Paul', 'age': 20, 'grade': '80'},
 {'name': 'David', 'age': 19, 'grade': '85'}]

In [12]:
# 3.1. Loop through the list and print the name and grade of each student.
for student in students:
  print(student["name"], student["grade"])

Pithon 90
Paul 80
David 85

In [31]:
# 3.2. Write a loop to calculate the average grade (assuming grades are numbers).
total = sum([int(student["grade"]) for student in students])
average = total/len(students)
print(average)

85.0

In [34]:
# 4. Create a dictionary to count how many times each word appears in this list:
# Output should be:
# {"apple": 3, "banana": 2, "cherry": 1}
words = ["apple", "banana", "apple", "cherry", "banana", "apple"]
word_count = {}
for word in words:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1

print(word_count)

{'apple': 3, 'banana': 2, 'cherry': 1}

In [45]:
# 5. Build a simple phonebook:
# Ask the user to enter names and phone numbers
# Store them in a dictionary
# Allow the user to look up numbers by name
phonebook = {}
while True:
    operation = input("Choose operation (1 - Add Contact, 2 - Search by name, 3 - Exit): ")

    if operation == "1":
        print("Enter name and phone number")
        name = input("Enter the name: ")
        contact = input("Enter phone number: ")
        phonebook[name] = contact

    elif operation == "2":
      search_name = input("Enter a name you want to search: ")
      if search_name in phonebook:
        print(f"{search_name}'s phone number is {phonebook[search_name]}")
      else:
        print("Name not found.")


    elif operation == "3":
        print("Exiting program...")
        break

    else:
        print("Invalid choice. Please enter 1, 2, or 3.")

print(phonebook)

Choose operation (1 - Add Contact, 2 - Search by name, 3 - Exit): 1
Enter name and phone number
Enter the name: yug
Enter phone number: 76788
Choose operation (1 - Add Contact, 2 - Search by name, 3 - Exit): 1
Enter name and phone number
Enter the name: gfjhj
Enter phone number: 8897
Choose operation (1 - Add Contact, 2 - Search by name, 3 - Exit): 1
Enter name and phone number
Enter the name: ffffhj
Enter phone number: 455788
Choose operation (1 - Add Contact, 2 - Search by name, 3 - Exit): 2
Enter a name you want to search: yug
yug's phone number is 76788
Choose operation (1 - Add Contact, 2 - Search by name, 3 - Exit): 3
Exiting program...
{'yug': '76788', 'gfjhj': '8897', 'ffffhj': '455788'}

In [41]:
print(phonebook)

{'Pithon': '0788158584', 'Victor': '0713866142', 'fdhfd': '43545', 'paul': '67473647'}